/*  EaglesIndexTree
============================================================================= */
.eagles-index-tree {

}

.List-List {
  padding: 0px !important;
  margin-top: 0px !important;
}

.List-Icon {

}

.List-Header {
  position: relative;

  border: solid 1px transparent;
  border-radius: 5px;
  padding-left: 2px;
  top: -5px;
  overflow-x: hidden !important;

  transition: all 0.2s;
  font-weight: normal !important;
  color: #474849 !important;
  word-wrap: break-word;
  word-break: break-all;
}
.List-Header-Active {
  font-weight: bold !important;
}

.List-Header:hover {
  border-radius: 2px;
  box-shadow: 0 0 1px black;
  -webkit-box-shadow:  0 0 1px black;
  -moz-box-shadow:  0 0 1px black;

  transform: translateX(-4px);
}

.list-header-text {
  width: 100%;
  height: 1.5rem;

  line-height: 1.5rem;
  overflow-x: hidden;
}
